<!--<div class="header container-fluid p-2">
    <h2 class="logo">DJ</h2>
    <ul>

        <li>
            <a [routerLink]="['nosotros']" routerLinkActive="active">Nosotros</a>
        </li>
        <li>
            <a [routerLink]="['reportes']" routerLinkActive="active">Reportes</a>
        </li>
        <li>
            <a href="#" routerLinkActive="active">Mantenimiento Reporte</a>
        </li>
        <li>
            <a href="#" routerLinkActive="active">Mantenimiento Usuario</a>
        </li>
        <li>
            <a (click)="salir()" class="salir">Salir</a>
        </li>
    </ul>
</div>-->


<nav class="navbar navbar-expand-lg navbar-dark badge-dark">
    <a class="navbar-brand" [routerLink]="['nosotros']">
        <img src="../../../../assets/images/icons/descarga.ico" width="30" height="30" alt="" class="circulo"> DanJulTours
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['nosotros']">Nosotros <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['vehiculos']">Vehiculos</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['reportes','nuevo']">Reportes</a>
            </li>
            <li class="nav-item dropdown" routerLinkActive="active">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Mantenimiento
          </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" [routerLink]="['mantenimientoreporte']">Reporte</a>

                    <!--<div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Usuario</a>-->
                </div>
            </li>

        </ul>

        <form class="form-inline my-2 my-lg-0">

            <input class="form-control mr-sm-2" type="search" placeholder="Buscar ..." (keyup)="buscar(buscarTexto.value)" #buscarTexto>
            <!--<button class="btn btn-outline-primary my-2 my-sm-0" type="button" (click)="buscar(buscarTexto.value)">Buscar</button>-->
        </form>

        <button (click)="salir()" class="btn btn-danger my-2 my-sm-0" type="button">Salir</button>

    </div>
</nav>