<h1 class="animated fadeIn">Búsqueda <small>de Incidencias:</small> </h1>
<hr>
<p class="animated fadeIn">Lista de incidencias de los vehículos.</p>


<div class="jumbotron jumbotron-fluid animated fadeIn contenedor-mensaje">
    <div class="container">
        <h1 class="display-4">DanJulTours</h1>
        <p class="lead">Viajen, no es gasto, es inversión.</p>
    </div>
</div>


<div class="table-responsive">
    <table class="table mt-2 animated fadeIn " *ngIf="!cargando && incidencias.length>0">
        <thead class="thead-dark">
            <tr>

                <th scope="col">Observación</th>

                <th scope="col">Estado</th>
                <th scope="col">Fecha</th>
                <th scope="col">Carácter</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let  incidencia of incidencias;let i=index ">

                <td>{{incidencia.observacion}}</td>

                <td>
                    <label *ngIf="incidencia.estado" class="badge badge-success">Atendido</label>
                    <label *ngIf="!incidencia.estado" class="badge badge-danger">Sin atender</label>
                </td>
                <td>{{incidencia.fecha|date:'EEEE,d MMMM , y, h:mm:ss a'}}</td>
                <td>{{incidencia.caracter}}</td>



            </tr>

        </tbody>

    </table>

</div>





<div *ngIf="!cargando && incidencias.length===0" class="alert alert-warning text-center mt-3 animated fadeIn ">
    <h4 class="alert-heading ">No hay registros de ese vehículo</h4>
    <p class="alert-warning">
        <i class="fa fa-exclamation-circle fa-5x "></i>
    </p>

</div>

<!--<div *ngIf="cargando" class="alert alert-info text-center mt-3 animated fadeIn ">
    <h4 class="alert-heading ">Cargando</h4>
    <p class="alert-info">
        <i class="fa fa-spinner fa-pulse fa-5x fa-fw"></i>
    </p>
    <p class="mb-0 alert-info">Espere porfavor</p>
</div>

<div class="container text-center contenedor" *ngIf="cargando">

    <img src="../../../../assets/images/giphy.gif" alt="" class="img-fluid gif">
</div>-->