<div class="open">
    <div class="layer"></div>
    <div class="layer"></div>
</div>

<div class="main">
    <app-header></app-header>

    <div class="container">
        <router-outlet></router-outlet>
    </div>
    <div class="element2"></div>

    <footer>
        <nav class="navbar navbar-expand-lg navbar-dark badge-dark">
            <p> &copy;{{empresa}} - {{ano}}</p>
        </nav>
    </footer>
</div>
<!--
<ul class="sci">
    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
</ul>
-->