<div class="jumbotron jumbotron-fluid animated fadeIn contenedor-mensaje">
    <div class="container">
        <h1 class="display-4">DanJulTours</h1>
        <p class="lead">Viajen, no es gasto, es inversión.</p>
    </div>
</div>


<div class="contenedor-imagen animated fadeIn">
    <img src="../../../../assets/images/img-01.png" class="img-fluid  js-tilt imagen1">
    <img src="../../../../assets/images/img-01.png" class="img-fluid imagen2">
</div>
<hr>

<p class="animated fadeIn">Nos convertimos en tu socio estratégico para el transporte de personas en general, con la comodidad y seguridad que el caso requiera. Efectuamos traslados del y hacia el Aeropuerto, City Tours en la ciudad de Lima y Callao, así como a otras ciudades del
    país, trasladamos personal para eventos corporativos, sean festivos o de trabajo, trasladamos alumnos de colegios y universidades, así como para eventos familiares.</p>